/* //样式重置 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*{
    padding: 0px;
    margin: 0px;
    /* color: #222; */
    font-family: PingFangSC-Regular, Helvetica, Arial, Microsoft Yahei, sans-serif;
}


li {
    list-style-type: none;
}

i {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

img {
    border: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #399bff;
}

a.active,
a:focus {
    outline: none !important;
    text-decoration: none;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0
}


body {


    color: #666;

}
/* 玄学
 */
 .tooltip  {
     display: none !important;
 }
.showlood {
    background: #000d4a url(../img/medicne/bg.jpg) center top;
    background-size: cover;
    color: #666;
    font-size: .1rem;
    padding: 0;
    margin: 0;
}

/*谷哥滚动条样式*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute
}

 ::-webkit-scrollbar-thumb {
    background-color: #5bc0de
}

 ::-webkit-scrollbar-track {
    background-color: #ddd
}


.allnav {
    height: calc(100% - 30px);
}



.canvas {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 99%;
    z-index: 1;
}

.allnav {
    height: calc(100% - 30px);
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 18px;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    background: #1a1a1c;
    text-align: center;
}

.loadbox {
    position: absolute;
    width: 160px;
    height: 150px;
    color: #aaa;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -75px;
}

.loadbox img {
    margin: 10px auto;
    display: block;
    width: 40px;
}

.copyright {
    background: rgba(19, 31, 64, .32);
    border: 1px solid rgba(255, 255, 255, .05);
    line-height: .5rem;
    text-align: center;
    padding-right: 15px;
    bottom: 0;
    color: rgba(255, 255, 255, .7);
    font-size: .16rem;
}

/*head开始*/
.head {
    height: 1.05rem;
    background: url(../img/medicne/head_bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    z-index: 100;
}

.head h1 {
    color: #fff;
    text-align: center;
    font-size: .4rem;
    line-height: .8rem;
}

.weather {
	position: absolute;
	right: .3rem;
	top: 0;
    line-height: .75rem;
}

.weather span {
    color: rgba(255, 255, 255, .7);
    font-size: .18rem;
    padding-right: .1rem;
}

/* main */
.mainbox{
    /* background: url(../img/medicne/line.png) */
    padding: .1rem .1rem 0rem .1rem;
}

.mainbox>ul {}

.mainbox>ul>li {
	float: left;
	padding: 0 .1rem
}

.mainbox>ul>li {
	width: 30%
}

.mainbox>ul>li:nth-child(2) {
	width: 40%;
	padding: 0
}

.boxall {
	border: 1px solid rgba(25, 186, 139, .17);
	padding: 0 .2rem .4rem .15rem;
	background: rgba(255, 255, 255, .04) url(../img/medicne/line.png);
	background-size: 100% auto;
	position: relative;
	margin-bottom: .15rem;
	z-index: 10;
}

.boxall:before,
.boxall:after {
	position: absolute;
	width: .1rem;
	height: .1rem;
	content: "";
	border-top: 2px solid #02a6b5;
	top: 0;
}

.boxall:before,
.boxfoot:before {
	border-left: 2px solid #02a6b5;
	left: 0;
}

.boxall:after,
.boxfoot:after {
	border-right: 2px solid #02a6b5;
	right: 0;
}


.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
}

.pulll_left {
	float: left;
}

.pulll_right {
	float: right;
}

.alltitle {
	font-size: .2rem;
	color: #fff;
	text-align: center;
	line-height: .5rem;
}

.boxfoot {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.boxfoot:before,
.boxfoot:after {
	position: absolute;
	width: .1rem;
	height: .1rem;
	content: "";
	border-bottom: 2px solid #02a6b5;
	bottom: 0;
}

.bar {
	background: rgba(101, 132, 226, .1);
	padding: .15rem;
}

.barbox li,
.barbox2 li {
	width: 50%;
	text-align: center;
	position: relative;
	z-index: 100;
}

.barbox:before,
.barbox:after {
	position: absolute;
	width: .3rem;
	height: .1rem;
	content: "";
}

.barbox:before {
	border-left: 2px solid #02a6b5;
	left: 0;
	border-top: 2px solid #02a6b5;
}

.barbox:after {
	border-right: 2px solid #02a6b5;
	right: 0;
	bottom: 0;
	border-bottom: 2px solid #02a6b5;
}

.barbox li:first-child:before {
	position: absolute;
	content: "";
	height: 50%;
	width: 1px;
	background: rgba(255, 255, 255, .2);
	right: 0;
	top: 25%;
}

.barbox {
	border: 1px solid rgba(25, 186, 139, .17);
	position: relative;
}

.barbox li {
	font-size: .55rem;
	color: #ffeb7b;
	padding: .05rem 0;
	font-family: electronicFont;
	font-weight: bold;
}

.barbox2 li {
	font-size: .19rem;
	color: rgba(255, 255, 255, .7);
	padding-top: .1rem;
}

.map {
	position: relative;
	height: 7.2rem;
	z-index: 9;
}

.map4 {
	width: 200%;
	height: 7rem;
	position: relative;
	left: 1.7rem;
	top: 4%;
	margin-top: .2rem;
	z-index: 5;
}

.map1,
.map2,
.map3 {
	position: absolute;
	opacity: .5
}

.map1 {
	width: 6.43rem;
	z-index: 2;
	top: .45rem;
	left: .7rem;
	animation: myfirst2 15s infinite linear;
}

.map2 {
	width: 5.66rem;
	top: .85rem;
	left: 1.2rem;
	z-index: 3;
	opacity: 0.2;
	animation: myfirst 10s infinite linear;
}

.map3 {
	width: 5.18rem;
	top: 1.07rem;
	left: 1.4rem;
	z-index: 1;
}

.tabs {
    text-align: center;
    padding: .1rem 0 0 0;
}

.tabs a {
    position: relative;
    display: inline-block;
    margin-left: 1px;
    padding: .05rem .2rem;
    color: #898989;
    transition: all .3s ease-out 0s;
    font-size: 14px;
}

.tabs li {
    display: inline-block;
}

.tabs a:after {
    position: absolute;
    width: 1px;
    height:  0.1rem;
    background-color: rgba(255, 255, 255, .1);
    content: '';
    margin-left: 0;
    right: -1px;
    margin-top: 7px;
}

.tabs li a.active {
    border: 1px solid rgba(25, 186, 139, .17);
    background: rgba(255, 255, 255, .05);
    color: #fff;
}

.tit02 {
    text-align: center;
    margin: .1rem 0;
    position: relative
}

.tit02 span {
    border: 1px solid rgba(25, 186, 139, .17);
    letter-spacing: 2px;
    padding: .01rem .2rem;
    background: rgba(255, 255, 255, .05);
    font-size: .18rem;
    color: #49bcf7;
}

.tit02:before,
.tit02:after {
    position: absolute;
    width: 26%;
    height: 1px;
    background: rgba(25, 186, 139, .2);
    content: "";
    top: .12rem;
}

.tit02:after {
    right: 0;
}

.tit02:before {
    left: 0;
}

.wrap {
    height: 2.54rem;
    overflow: hidden;
}

.wrap li {
    line-height: .42rem;
    height: .42rem;
    font-size: .18rem;
    text-indent: .24rem;
    margin-bottom: .1rem;
}

.wrap li p {
    border: 1px solid rgba(25, 186, 139, .17);
    color: rgba(255, 255, 255, .6);
}

.sy {
    float: left;
    width: 33%;
    height: 95%;
    margin-top: .25rem;
}

.adduser {
    height: 1.5rem;
    overflow: hidden;
}

.adduser li {
    height: .5rem;
}

.adduser img {
    width: .40rem;
    border-radius: .5rem;
    margin-right: .1rem;
    display: inline-block;
    vertical-align: middle;
}

.adduser span {
    line-height: .5rem;
    font-size: .18rem;
    color: rgba(255, 255, 255, .6);
}

.sycm ul {
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding: .16rem 0;
}

.sycm li {
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative
}

.sycm li:before {
    position: absolute;
    content: "";
    height: 30%;
    width: 1px;
    background: rgba(255, 255, 255, .1);
    right: 0;
    top: 15%;
}

.sycm li:last-child:before {
    width: 0;
}

.sycm li h2 {
    font-size: .3rem;
    color: #c5ccff;
}

.sycm li span {
    font-size: .18rem;
    color: #fff;
    opacity: .5;
}

@keyframes myfirst2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes myfirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}


/*Plugin CSS*/

.str_wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}

.str_move_clone {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.str_vertical .str_move_clone {
    left: 0;
    top: 100%;
}

.str_down .str_move_clone {
    left: 0;
    bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
    white-space: normal;
    width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
    cursor: inherit;
}

.str_wrap img {
    max-width: none !important;
}

.t_table {
    font-size: 0.18rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: .01rem;
}

.t_table tr {
    margin: 0;
    padding: 0;
    height: 0.5rem;
}

.t_table thead tr {
    background: #053A98;
}

.t_table thead tr th {
    color: #FFF;
}

.t_table tbody tr td:first-child {
    border-left: 1px solid #053A98;
    white-space:nowrap;
}

.t_table td {
    border-bottom: 1px solid #053A98;
    border-right: 1px solid #053A98;
    color: #FFF !important;
}


.t_table_yc {
    font-size: 0.18rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: .01rem;
}

.t_table_yc tr {
    margin: 0;
    padding: 0;
    height: 0.5rem;
}

.t_table_yc thead tr {
    background: #053A98;
}

.t_table_yc thead tr th {
    color: #FFF;
    white-space: nowrap;
}

.t_table_yc tbody tr td:first-child {
    border-left: 1px solid #053A98;
}
.t_table_yc tbody tr td:nth-child(4),
.t_table_yc tbody tr td:nth-child(6){
    font-size: 0.12rem;
    width: 2rem;
}
.t_table_yc tbody tr td:nth-child(8){
    white-space:nowrap;
}


.t_table_yc td {
    border-bottom: 1px solid #053A98;
    border-right: 1px solid #053A98;
    color: #FFF !important;
}

.t_box {
    width:  50%;
    height: auto;
    background: url('../../assets/img/medicne/t_bg.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    margin-top: 0.21rem;
    padding-bottom:  0.2rem;
}

.t_title {
    text-align: center;
    font-size: 0.22rem;
    color: #fff !important;
    font-weight: bold;
    height: 0.4rem;
    line-height: 0.3rem;
    width: 100%;
    margin-top: 0.4rem;
}

.t_title span {
    color: #FFF;
}

.t_header_product {
    width: 100%;
    height: 80px;
    background: url(../../assets/img/medicne/linx.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 1rem;
    position: relative;
}

.t_header_product span {
    color: #fff;
    font-size: 0.36rem;
    position: absolute;
    top: 50%;
    margin-top: -0.24rem;
    left: 9%;
}

.product_top20_table {
    font-size: 18px;
    width: 100%;
}

.product_top20_table tr {
    height: 50px;
}

.product_top20_table {
    width: 88%;
    margin-top: 25px;
    margin: 0 auto;
}

.product_top20_table thead tr {
    height: 50px;
}

.product_top20_table th {
    font-size: 16px;
    font-weight: 600;
    color: #61d2f7;
    text-align: center;
}

.product_top20_table td {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.product_top20_table tbody tr:nth-child(2n) {
    width: 98%;
    background-color: #2B3AA8;
    box-shadow: - 0.1rem 0px 15px #2C58A6 inset,
     0.1rem 0px 15px #2C58A6 inset; 
    /*右边阴影*/
}
.product_top20_table tbody tr:nth-child(2n) td:not(:last-child){
    border-right: 3px solid rgba(0, 5, 15, 0.1) !important;
}

.caption-title {
    color: rgb(255, 255, 255);
    margin-top: .5rem;
    margin-bottom: .1rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.biaoti {
    line-height: .6rem;
    display: inline-block;
    margin: 0.1rem 0;
    padding: 0px;
    text-align: center;
    font-size: .4rem;
    color: #FFF;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.t_mbox {
    width: 3rem;
    height: 1.28rem;
    position: relative;
    margin: 0 auto;
    margin-top: 0.2rem;
}

.t_rbox {
    background: #D9523F;
}

.t_gbox {
    background: #13D0B2;
}

.t_ybox {
    background: #F6A645;
}

.t_start {
    background-color: #02a6b5;
}

.t_rbox i {
    background: url(../img/medicne/indent.png) no-repeat;
    background-size: 100% 100%;
}

.t_gbox i {
    background: url(../img/medicne/vip.png) no-repeat;
    background-size: 100% 100%;
}

.t_ybox i {
    background: url(../img/medicne/consumption.png) no-repeat;
    background-size: 100% 100%;
}

.t_start i {
    background: url(../img/medicne/t-star.png) no-repeat;
    background-size: 100% 100%;
}

.t_mbox i {
    display: inline-block;
    width: 0.46rem;
    height: 0.48rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto;
}

.t_mbox h2 {
    font-size: 0.28rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: electronicFont;
    font-size: .4rem;
}

.t_mbox span {
    font-size: 0.2rem;
    color: #fff;
    position: absolute;
    top: 24%;
    left: 48%;
}



.score-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.score-group .score-item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .2rem;
}

.score-group .score-item label {
    font-size: .2rem;
    color: #FFF;
    display: inline-block;
    width: .6rem;
}

.score-group .score-item h3 {
    font-size: 0.3rem;
    color: #fff;
    font-family: electronicFont;
    font-size: .4rem;
}

.user_left {
    width: 100%;
    height: 99%;
    background-color: rgba(99, 135, 226, 0.24);
    border-radius:  0.1rem;
    position: relative;
}

.user_line1 {
    border-radius:  0.1rem;
    margin: 1px;
    height: 100%
}

.user_line2 {
    margin: 1px;
    border-radius: 9px;
    border: 2px #0b7ff3 solid;
    height: 100%;
    padding: 24px 8px 0 8px
}

.user_top_middle {
    height: 100%;
    width: 100%
}

.user_top_middle p {
    text-align: center;
    color: #fff;
    font-size: .3rem;
}

.data>.data-title {
    width: 100%;
    height: 105px;
    padding: 0.3rem 0 0.35rem 0;
    box-sizing: border-box;
    margin-top: .6rem;
    margin-bottom: .3rem;
}

.data>.data-title>.title-center {
    width: 440px;
    height: 40px;
    box-sizing: border-box;
    border-right: 5px solid #0089ff;
    border-left: 5px solid #0089ff;
    font-size: .4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data>.data-title>.title-left,
.data>.data-title>.title-right {
    width: calc(50% - 220px);
    height: 3px;
    background: #0089ff;
    margin-top: 18px;
}

.cen-bottom {
    height: 25%;
    background-color: rgba(0, 24, 106, 0.5);
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}

.cen-bottom .title {
    line-height: .7rem;
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
    box-sizing: border-box;
}

.cen-bottom img.bj-1 {
    position: absolute;
    left: -1px;
    top: -1px;
}

.cen-bottom img.bj-2 {
    position: absolute;
    right: -1px;
    top: -1px;
}

.cen-bottom img.bj-3 {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.cen-bottom img.bj-4 {
    position: absolute;
    left: -1px;
    bottom: -1px;
}

.cen-bottom .title {
    text-align: center;
    color: #fff;
    font-size: .3rem;
    font-weight: 400;
}

.footer {
    width: 100%;
    color: #CCC;
    display: block;
    text-align: center;
    font-size: .2rem;
    padding: .4rem 0;
}
.split-line {
    height: .5rem;
    width: 0.05rem;
    border-right: .02rem solid rgba(200, 200, 200, .4);
    transform: rotate(20deg);
    display: inline-block;
    margin: 0 .1rem;
}

.w100 {
    width: 100% !important;
}
.display{
    /* display: none;
     */
     opacity: 0;
}

